html {
  scroll-behavior: smooth;
}

body
{
    font-family: 'Playfair Display', serif, arial, sans-serif;
}

#presentation
{
    background: #f28f38;
    color: #0c2c40;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Lobster';
    font-size: 2rem;
    position: relative; 
}

/* faux je n'arrive pas a le faire apparaitre a droite sur mon header */
#titre {
    display: block;
    float: right;
    position: static;
    top: 0rem;
}

img {
    height: auto;
    width: 250px;
    height: auto;
    border-radius: 80%;
    position: absolute;
    display: block;
  margin-left: 45%;
  margin-right: auto;
    top: 10rem;
    border: 5px solid #ffff;
}

nav {
    position: fixed;
    right: 0;
    top: 50%;
  margin: 0;
  padding-right: 2rem;
  background-color: #f2e1ce;
    
}

nav ul li {
    padding-bottom: 1rem;
}


.fa {
  color : #f28f38;
}

.fas {
  color : #f28f38;
}

.fa-building:hover{
    color: #0c2c40; 
}

.fa-school:hover{
    color: #0c2c40; 
}

.fa-envelope:hover{
    color: #0c2c40; 
}

ul
{
    list-style-type: none;
}

