html, body {
    padding: 0;
    margin: 0;
    background: white;
    box-sizing: border-box;
  }

  h1 {
      font-family: 'brushland', 'Courier New', Courier, monospace;
      font-size: 5vh;
      line-height: 1vh;
  }

  h2{
    font-family: 'brushland', 'Courier New', Courier, monospace;
    font-size: 4vh;
}
 h3{
    font-family: 'brushland', 'Courier New', Courier, monospace;
    font-size: 4vh;
}

.titre-section {
    position: relative;
    text-align: center;
}

.trait {
    position: absolute;
    left: 25vw;
    bottom: 0;
    height: 0.4vh; /* perso j'aurais mis 2px */
    width: 50vw;
    background: #707070;
}
