.header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 1000;
    /*border-bottom: solid #323232 0.3rem;*/
    background-color: white;
}

.a {
    display: flex;
    text-align: center;
    font-family: 'poppins-regular';
    font-size: 1.5rem;
    padding: 1rem;
    padding-left: 15rem;
    color: #707070;
}

.b {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-self: center;
    text-align: center;
    padding-right: 8rem;
}
.b ul {
    display: flex;
    align-items: start;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
}
    
.b ul li {
    padding: 10px 0;
}
    
.b ul li a {
    position: relative;
    display: block;
    padding: 4px 0;
    color: #707070;
    text-decoration: none;
    transition: 0.5s;
}
  
.b ul li a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
  
.b ul li a:hover {
    color: #95a5a6;
}
  
.b ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
  